
<div class=" content">
  <div class=" row" *ngIf="Mydetails">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <div class=" card-body">
          <form [formGroup]="updateForm" (ngSubmit)="OnUpdate(Mydetails.id)">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label>Company </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="Top Mama Compay"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Email </label>
                  <input
                    class=" form-control"
                    placeholder="{{Mydetails.email}}"
                    type="text"
                    value="{{Mydetails.email}}"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="{{Mydetails.first_name}}"
                    type="text"
                    value="{{Mydetails.first_name}}"
                    formControlName="first_name"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="{{Mydetails.last_name}}"
                    type="text"
                    value="{{Mydetails.last_name}}"
                    formControlName="last_name"

                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Image </label>
                  <img src="{{Mydetails.avatar}}">
                </div>
              </div>
            </div>
            <div class=" card-footer">
	          <button class=" btn btn-fill btn-danger" type="submit">Update</button>
	        </div>
          </form>
      </div>
        
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="{{Mydetails.avatar}}" />

              <h5 class=" title">Support</h5>
            </a>
            <div>
            <p class=" description">url: <a href="{{OtherDetails.url}}">{{OtherDetails.url}}</a></p>
          </div>
          <div class=" card-description">
             ..
          </div>
      </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
