<div class=" content">
  <div class=" row"  *ngIf="UserInfo">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <div class=" card-body">
          <form [formGroup]="UserEditForm" (ngSubmit)="OnSubmit()">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> ID </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="{{UserInfo.id}}"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> email </label>
                  <input
                  formControlName="email"
                    class=" form-control"
                    placeholder="{{UserInfo.email}}"
                    type="email"
                    value="{{UserInfo.email}}"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="first_name"> First Name </label>
                  <input
                  formControlName="first_name"
                    class=" form-control"
                    placeholder="{{UserInfo.first_name}}"
                    type="text"
                    value="{{UserInfo.first_name}}"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                  formControlName="last_name"
                    class=" form-control"
                    placeholder="{{UserInfo.last_name}}"
                    type="text"
                    value="{{UserInfo.last_name}}"
                  />
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="{{UserInfo.avatar}}" />

              <h5 class=" title">{{UserInfo.first_name}} {{UserInfo.first_name}}</h5>
            </a>
            <p class=" description">Email: <b>{{UserInfo.email}}</b></p>
          </div>
          <div class=" card-description">
            Being At Top Mama Feels like a dream
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
