<div class="logo">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
    <br/> <br/>
    <div>  
      <a href="#" class="simple-text logo-normal">
        Collins| Top Mama
      </a>
    </div>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
    <li>
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</div>
